@import url('https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap');

body {
  margin: 0;
  padding: 0;
  font-size: 26px;
  font-family: 'Nanum Pen Script', cursive;
  background-color: #F6F6F6;
  background-color: #FFE9EA;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
